md-sidenav-container{
    padding: 10px 0px 30px;
    height: 100%;
    width:100%;
}
md-card{
    margin: 5px;
}
.header{
    height: 64px;
}
.rest-content{
    height:calc(100% - 64px);
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.spacing{
    margin: 0px 10px 0px 0px;
}
.after-bar:after{
    content: "|";
    display:inline-block;
    padding: 0 10px;
}
router-outlet{
    width: 100%;
}
@media (max-width: 767px){
    .header-title{
        font-size: 17px;
    }
}