<div class="row header">
  <md-toolbar color="primary" class="col-12" >
    <md-icon (click)="sidenav.toggle()" class="spacing pointer">menu</md-icon>
    <span class="header-title">Datacenter Management Framework</span>
     <span class="example-fill-remaining-space"></span>
     <span class="for-desktop after-bar">Welcome {{User}}</span>
     <span class="for-desktop pointer" (click)="logout()">Logout</span>
  </md-toolbar>
</div>
<div class="row rest-content">
  <md-sidenav-container class="col-12">
    <md-sidenav #sidenav  mode="side" class="col-sx-3 col-sm-3 col-md-3 col-lg-2 border-left-0">
      <!-- sidenav content -->
      <app-nav [sidenav]="sidenav"></app-nav>
    </md-sidenav>
    
    <!-- primary content -->
    <router-outlet></router-outlet>
  </md-sidenav-container>
</div>