<md-card-content>
    <form class="create-vm-form" [formGroup]="vmeditForm" (ngSubmit)="onSubmit(vmeditForm.value)" [hidden]="submitted" >
      
      <div class="form-group">
        <md-select placeholder="VM Name" formControlName="vmName" (change)="onVMChange($event)" required class="col-12" [(ngModel)]="vm">
          <md-option *ngFor="let vm of vmList" value="{{vm.requestId}}">
            {{ vm.vmName + ' VM ID: ' + vm.vmId}}
          </md-option>
        </md-select>
      </div>
      
      <div class="form-group">
        <md-input-container class="col-12">
          <input mdInput placeholder="Name" formControlName="Name" id="Name" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container class="col-12">
          <textarea cols="40" rows="5" mdInput placeholder="Description" formControlName="description" id="description" required></textarea>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container class="col-12">
          <input mdInput placeholder="Disk Size (GB)" formControlName="storage" id="diskSize"  required>          
        </md-input-container>
      </div>
      <!--<div class="form-group">
        <md-input-container class="col-12">
          <input mdInput placeholder="Increase Disk Size (GB)" formControlName="storage_inc" id="diskSizeInc" (keypress)="onlyNumberKey($event)" required>
        </md-input-container>
      </div>-->
      <div class="form-group">
        <md-select placeholder="CPU Core" formControlName="cores" id="cpuCore" required class="col-12">
          <md-option value="1">1</md-option>
          <md-option value="2">2</md-option>
        </md-select>
      </div>
      <div class="form-group">
        <md-input-container class="col-12">
          <input mdInput placeholder="Memory (MB)" formControlName="memory" id="Memory" (keypress)="onlyNumberKey($event)" required>
        </md-input-container>
      </div>
      <div class="form-group">
        <md-card-actions class="col-12">
          <button type="submit" md-raised-button class="my-success-btn"  color="primary">Create</button>
          <button type="button" md-raised-button class="my-cancel-btn" (click)="backToHome()">Cancel</button>
        </md-card-actions>
      </div>
    </form>
  </md-card-content>
