<div class="row">
  <md-card class="col-12">
    <md-card-title>
      <h2>Requests</h2>
    </md-card-title>
    <md-card-content>
      <button type="button" md-raised-button class="my-cancel-btn" >Edit</button>
      <button type="button" md-raised-button class="my-success-btn"  color="primary">New</button>
      <hr>
      <ng2-smart-table class="table table-responsive" [settings]="settings" [source]="data" (edit)="onEdit($event)" ></ng2-smart-table>
    </md-card-content>
  </md-card>
</div>