<div class="mat-sidenav-focus-trap">
  <div class="cdk-focus-trap-content">
    <nav class="main">
      <ul>
        <li *ngFor="let list of links">
          <a *ngIf="list.submenu==undefined " [routerLink]="[list.path]" npm startRouterLinkActive="active"(click)="sidenav.close()">{{list.name}}</a>
          <nav class="sub" *ngIf="list.submenu!=undefined">
            <h6 *ngIf="list.submenu!=undefined" (click)="submenu($event)">{{list.name}}<i class="material-icons" [hidden]="shown">&#xE315;</i><i class="material-icons" [hidden]="!shown">&#xE313;</i></h6>
            <ul [hidden]="shown">
              <li *ngFor="let menu of list.submenu"><a [routerLink]="[menu.path]" (click)="sidenav.close() ;submenu($event)">{{menu.name}}</a></li>
            </ul>
          </nav>
        </li>
      </ul>
    </nav>
  </div>
</div>