<div class="mat-sidenav-focus-trap">
  <div class="cdk-focus-trap-content">
    <nav class="main">
      <ul>
        <li class="for-mobile"><span>Welcome {{User}}</span></li>
        <li *ngFor="let list of links">
          <a *ngIf="list.submenu==undefined " [routerLink]="[list.path]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="sidenav.close()"><i class="material-icons list-icons">{{list.icon}}</i>{{list.name}}</a>
          <nav class="sub" *ngIf="list.submenu!=undefined">
            <h6 *ngIf="list.submenu!=undefined" (click)="submenu($event)">{{list.name}}<i class="material-icons" [hidden]="shown">&#xE315;</i><i class="material-icons" [hidden]="!shown">&#xE313;</i></h6>
            <ul [hidden]="shown">
              <li *ngFor="let menu of list.submenu"><a [routerLink]="[menu.path]" (click)="sidenav.close();submenu($event)"><i class="material-icons list-icons">{{menu.icon}}</i>{{menu.name}}</a></li>
            </ul>
          </nav>
        </li>
        <li class="for-mobile"><a href="javascript:void(0)" (click)="logout()"><i class="material-icons list-icons">power_settings_new</i>Logout</a></li>
      </ul>
    </nav>
  </div>
</div>
<!--(click)="sidenav.close()"-->