/* You can add global styles to this file, and also import other style files */
 @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
 .mat-sidenav-content{
    overflow: hidden !important;;
 }
 .for-desktop{
    display: block;
}
.pointer{
    cursor: pointer;
}
@media (max-width: 767px){
    .for-desktop{
        display: none;
    }
    .mat-sidenav{
        padding: 0;
    }
}